@model string
@{
    ViewBag.Title = "GetAccessToken";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAccessToken</h2>
@{if(ViewData.ContainsKey("session"))
  {
	  <p>认证成功</p>
    <p>Welcome You, @Session["Nick"]</p>
	  <a href="../WeiBo/Index?session=@ViewData["session"]">点击发送微博测试</a>
  }
  else{	  
		<p>认证失败</p>
  }
}
