@model IDictionary<string, EasyWeibo.BLL.OAuth2Base>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>

@foreach (var o in Model)
{
	<a href="@o.Value.OAuthUrl">@o.Key 认证</a>
}