@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="SendWeibo">
	<div>微薄正文：@Html.TextArea("content");</div>
	<div>图片URL：@Html.TextBox("url")</div>
	<button type="submit" value="send" />
</form>