<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SNS无忧推广</title>

    <!-- Bootstrap core CSS -->
      <link href="../../Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../Content/navbar.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
    <script src="../../Scripts/jquery.js"></script>
      <script src="../../Content/bootstrap/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">无忧推广</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">首页</a></li>
                  <li><a href="/weibo/Index">发布信息</a></li>
                  <li><a href="#">定时任务</a></li>
                  <li class="dropdown" id="droptest">
                      <a id="droptest" href="#droptest" role="button" class="dropdown-toggle" data-toggle="dropdown">设置中心<b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labeledby="droptest">
                          <li><a href="#">平台绑定</a></li>
                          <li><a href="#">消息中心</a></li>
                          <li><a href="#">任务设置</a></li>
                          <li class="divider"></li>
                          <li><a href="#">其他设置</a></li>
                      </ul>
                  </li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">默认</a></li>
              <li><a href="/OAuth/Index">淘宝授权</a></li>
              <li><a href="../navbar-fixed-top/">帮助</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>欢迎您 : @(Session["Nick"]??"游客")</h1>
        @RenderBody()
      </div>

    </div> <!-- /container -->   
  </body>
</html>
